.images1Icon {
  /* position: absolute;
  top: 0px;
  right: 0px;
  border-radius: var(--br-mini);
  width: 100%;
  height: 100%;
  object-fit: cover; */
  position: absolute;
  border-radius: var(--br-mini);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.groupChild {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-mini);
  width: 1440px;
  height: 148px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.back {
  position: relative;
  font-weight: 500;
  cursor: pointer;
}
.backWrapper {
  position: absolute;
  top: 42px;
  left: 46px;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-darkslategray-200);
  box-sizing: border-box;
  width: 142.5px;
  height: 64.2px;
  display: flex;
  flex-direction: row;
  padding: 13.046907424926758px 25.090206146240234px;
  align-items: center;
  justify-content: center;
}
.images1Parent {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1024px;
}
.ngDngQun1 {
  position: absolute;
  top: 5px;
  left: 443px;
  font-size: var(--font-size-31xl);
  display: flex;
  color: var(--color-black);
  align-items: center;
  width: 810px;
  height: 105px;
}
.desktop231 {
  position: absolute;
  background-color: var(--neutral-colors-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 18.06px;
  color: var(--color-darkslategray-200);
  font-family: var(--font-lato);
}
