.images2Icon {
  position: absolute;
  border-radius: var(--br-mini);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.frameChild {
  position: absolute;
  top: 21px;
  left: 0px;
  border-radius: var(--br-mini);
  width: 1440px;
  height: 100px;
  object-fit: cover;
  mix-blend-mode: normal;
}
.back {
  position: relative;
  font-size: 18.06px;
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--color-darkslategray-200);
  text-align: left;
  cursor: pointer;
}
.backWrapper {
  cursor: pointer;
  border: 1px solid var(--color-darkslategray-200);
  padding: 13.046907424926758px 25.090206146240234px;
  background-color: transparent;
  position: absolute;
  top: 42px;
  left: 46px;
  border-radius: var(--br-mini);
  box-sizing: border-box;
  width: 142.5px;
  height: 64.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.instanceParent {
  position: absolute;
  top: 442px;
  left: 516px;
  width: 423.8px;
  height: 86px;
}
.images2Parent {
  position: absolute;
  background-color: var(--neutral-colors-white);
  width: 100%;
  height: 1040px;
  overflow: hidden;
}

.WelcomeContainer{
  position: relative;
  top: 10%;
  left: 30%;
}
