.groupChild {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-400);
  width: 539px;
  height: 644px;
}
.forgotPassword {
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: 600;
  display: inline-block;
  width: 191px;
  height: 32px;
}
.forgotPasswordWrapper {
  position: absolute;
  top: 120px;
  left: 182px;
  width: 191px;
  height: 32px;
}
.backToLogin1 {
  position: absolute;
  top: 89.43%;
  left: 74.28%;
  text-decoration: underline;
}
.instanceParent {
  position: absolute;
  top: 184px;
  left: 39px;
  width: 451px;
  height: 227px;
  font-size: var(--text-single-300-bold-size);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.rectangleParent {
  position: absolute;
  top: 192px;
  left: 450px;
  width: 539px;
  height: 644px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-green);
  font-family: var(--font-roboto);
}
