.groupChild {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-400);
  width: 539px;
  height: 644px;
}
.resetPassword {
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: 600;
  display: inline-block;
  width: 191px;
  height: 32px;
}
.resetPasswordWrapper {
  position: absolute;
  top: 120px;
  left: 182px;
  width: 191px;
  height: 32px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-roboto);
}
.confirmNewPassword1 {
  position: absolute;
  top: 55.96%;
  left: 0%;
}
.instanceParent {
  position: absolute;
  top: 185px;
  left: 39px;
  width: 451px;
  height: 218px;
  color: var(--color-black);
}
.rectangleParent {
  position: absolute;
  top: 192px;
  left: 450px;
  width: 539px;
  height: 644px;
  text-align: left;
  font-size: var(--text-single-300-bold-size);
  color: var(--color-green);
  font-family: var(--font-poppins);
}
