.navLinks {
  width: 54px;
  display: flex;
  flex-direction: column;
  padding: 0px var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-mini);
  z-index: 0;
}
.sideBarChild {
  position: absolute;
  margin: 0 !important;
  top: 125px;
  left: 0px;
  background-color: var(--neutral-colors-white);
  width: 3px;
  height: 40px;
  z-index: 1;
}
.sideBarItem {
  position: absolute;
  margin: 0 !important;
  top: 142px;
  left: 0px;
  background-color: var(--neutral-colors-white);
  width: 3px;
  height: 43px;
  z-index: 2;
}
.sideBarInner {
  position: absolute;
  margin: 0 !important;
  top: 81px;
  left: 0px;
  background-color: var(--neutral-colors-white);
  width: 3px;
  height: 43px;
  z-index: 3;
}
.rectangleDiv {
  position: absolute;
  margin: 0 !important;
  top: 22px;
  left: 0px;
  background-color: var(--neutral-colors-white);
  width: 3px;
  height: 43px;
  z-index: 4;
}
.sideBarChild1 {
  position: absolute;
  margin: 0 !important;
  top: 321px;
  left: 0px;
  background-color: var(--neutral-colors-white);
  width: 3px;
  height: 40px;
  z-index: 5;
}
.sideBarChild2 {
  position: absolute;
  margin: 0 !important;
  top: 201px;
  left: 0px;
  background-color: var(--neutral-colors-white);
  width: 3px;
  height: 44px;
  z-index: 6;
}
.sideBar {
  position: relative;
  background: linear-gradient(180deg, #7400b8, #6930c3);
  width: 96px;
  height: 931px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-8xl) 0px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-3xs);
}
